/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00a4b8;
  --ifm-navbar-background-color: var(--ifm-color-primary);
  --ifm-navbar-link-color: #fff;
  --ifm-navbar-shadow: none;
  --ifm-navbar-link-hover-color: var(--ifm-navbar-link-color);
  --ifm-container-width: 900px;
  --ifm-font-size-base: 16px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-emphasis-0: var(--ifm-color-gray-1000);
  --ifm-color-emphasis-100: var(--ifm-color-gray-900);
  --ifm-color-emphasis-200: var(--ifm-color-gray-800);
  --ifm-color-emphasis-300: var(--ifm-color-gray-700);
  --ifm-color-emphasis-400: var(--ifm-color-gray-600);
  --ifm-color-emphasis-500: var(--ifm-color-gray-500);
  --ifm-color-emphasis-600: var(--ifm-color-gray-400);
  --ifm-color-emphasis-700: var(--ifm-color-gray-300);
  --ifm-color-emphasis-800: var(--ifm-color-gray-200);
  --ifm-color-emphasis-900: var(--ifm-color-gray-100);
  --ifm-color-emphasis-1000: var(--ifm-color-gray-0);
  --ifm-background-color: #18191a;
  --ifm-background-surface-color: #242526;
  --ifm-hover-overlay: hsla(0,0%,100%,0.05);
  --ifm-color-content-secondary: #fff;
}

